<!--The content below is only a placeholder and can be replaced.-->

<div class="w3-display-container" >
  <div class="w3-display-topleft" style="padding-top: 15px ;">
      <img width="auto" alt="Logo" src="assets/bosch.jpg" height="50px" >
  </div>
  <div class="w3-display-topmiddle" style="padding-top: 15px;">
    <h1>MIXING PROGRAM 2.0</h1>    
  </div>
  <div class="w3-display-topright" style="padding-right: 20px; padding-top: 15px;">
    <input type="text"><br>
    {{Clock | date:'EEEE, MMMM, d, y, h:mm:ss a'}}    
  </div>
</div>
<br>
<br>

<div>
  <br>
<app-navigation></app-navigation>
</div>

<h1>
  Welcome to {{ title }}!
</h1>
 