
<!-- Creating Mix form-->

<div class="col-md-6 offset-md-0.1 mt-5">
  <div class="splite left"> <br>

    <table width="100%">
      <tr>
        <td>Product ID</td>
        <td><select title="Select Product ID">
          <option value="">30/12BG 081</option>
          <option value="">30/12sBG 082</option>
          <option value="">30/12BG 083</option>
          <option value="">30/12BG 153</option>
          <option value="">30/12BG 1033c</option>
        </select></td>
      </tr>

    </table>

  </div>
</div>