
<!--
  <div class="navbar">
  <a href="#Create Mix">Create Mix</a>
  <a href="#Recalculation">Recalculation</a>
  <a href="#Deflection NOK">Deflection NOK</a>
  <div class="dropdown">
    <button class="dropbtn">Dropdown<i class="fa fa-caret-down"></i></button>
  <div class="dropdown-content">
    <a href="#1">link1</a>
    <a href="#2">link2</a>
    <a href="#3">link3</a>
  </div>
</div>

-->

<nav class="navbar navbar-expand-lg navbar-light bg-dark" >
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item active ">
        <a class="nav-link" style="color:white; padding: 10px 16px;" href="#CreateMix">Create Mix <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item">
          <a class="nav-link" style="color:white; padding: 10px 16px;" href="#Recalculation">Recalculation</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" style="color:white; padding: 10px 16px;" href="#Deflection NOK">Deflection NOK</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color:white; padding: 10px 16px;" href="#User Management" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User Management
        </a>
      
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#1">link1</a>
          <a class="dropdown-item" href="#2">link2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color:white; padding: 10px 16px;" href="#Master Data Management" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Master Data Management
          </a>
        
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#1">link1</a>
            <a class="dropdown-item" href="#2">link2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" style="color:white; padding: 10px 16px;" href="#View Stock">View stock</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" style="color:white; padding: 10px 16px;" href="#View Logs">View Logs</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" style="color:white; padding: 10px 16px;" href="#Simulation">Simulation</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color:white; padding: 10px 16px;" href="#Form Template" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Form Template
            </a>
          
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#1">link1</a>
              <a class="dropdown-item" href="#2">link2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" style="color:white; padding: 10px 16px;" href="logout">Logout</a>
            </li>
        </ul>
  </div>
</nav>


<p>
    navigation works!
  </p>
  